export(calculatePvalues)
export(calculateStats)
export(clusterMakerRle)
export(filterData)
export(findRegions)
export(fstats.apply)
export(getSegmentsRle)
export(loadCoverage)
export(makeBamList)
export(makeModels)
export(plotOverview)
export(plotRegion)
export(preprocessCoverage)
importFrom(GenomicRanges,"seqlengths<-")
importFrom(GenomicRanges,GRanges)
importFrom(GenomicRanges,GRangesList)
importFrom(GenomicRanges,seqinfo)
importFrom(GenomicRanges,seqlengths)
importFrom(GenomicRanges,seqnames)
importFrom(IRanges,DataFrame)
importFrom(IRanges,IRanges)
importFrom(IRanges,RangesList)
importFrom(IRanges,Rle)
importFrom(IRanges,RleList)
importFrom(IRanges,Views)
importFrom(IRanges,end)
importFrom(IRanges,reduce)
importFrom(IRanges,resize)
importFrom(IRanges,runLength)
importFrom(IRanges,runValue)
importFrom(IRanges,start)
importFrom(IRanges,width)
importFrom(Rsamtools,BamFileList)
importFrom(Rsamtools,ScanBamParam)
importFrom(Rsamtools,path)
importFrom(Rsamtools,readBamGappedAlignments)
importFrom(Rsamtools,scanBamHeader)
importFrom(bumphunter,getSegments)
importFrom(ggbio,plotIdeogram)
importFrom(ggbio,theme_tracks_sunset)
importFrom(ggbio,tracks)
importFrom(ggplot2,aes)
importFrom(ggplot2,autoplot)
importFrom(ggplot2,element_blank)
importFrom(ggplot2,element_text)
importFrom(ggplot2,geom_line)
importFrom(ggplot2,geom_segment)
importFrom(ggplot2,geom_text)
importFrom(ggplot2,ggplot)
importFrom(ggplot2,labs)
importFrom(ggplot2,rel)
importFrom(ggplot2,scale_colour_manual)
importFrom(ggplot2,scale_fill_manual)
importFrom(ggplot2,theme)
importFrom(ggplot2,xlab)
importFrom(ggplot2,ylab)
importFrom(parallel,mclapply)
importFrom(plyr,ddply)
importFrom(plyr,summarise)
importFrom(qvalue,qvalue)
importFrom(reshape2,melt)
importMethodsFrom(GenomicRanges,as.data.frame)
importMethodsFrom(GenomicRanges,coverage)
importMethodsFrom(GenomicRanges,end)
importMethodsFrom(GenomicRanges,findOverlaps)
importMethodsFrom(GenomicRanges,start)
importMethodsFrom(GenomicRanges,unlist)
importMethodsFrom(IRanges,"$")
importMethodsFrom(IRanges,"[")
importMethodsFrom(IRanges,"[<-")
importMethodsFrom(IRanges,"[[")
importMethodsFrom(IRanges,"[[<-")
importMethodsFrom(IRanges,"colnames<-")
importMethodsFrom(IRanges,as.data.frame)
importMethodsFrom(IRanges,as.matrix)
importMethodsFrom(IRanges,as.numeric)
importMethodsFrom(IRanges,as.vector)
importMethodsFrom(IRanges,c)
importMethodsFrom(IRanges,colnames)
importMethodsFrom(IRanges,findOverlaps)
importMethodsFrom(IRanges,lapply)
importMethodsFrom(IRanges,length)
importMethodsFrom(IRanges,mean)
importMethodsFrom(IRanges,median)
importMethodsFrom(IRanges,ncol)
importMethodsFrom(IRanges,nrow)
importMethodsFrom(IRanges,quantile)
importMethodsFrom(IRanges,sapply)
importMethodsFrom(IRanges,split)
importMethodsFrom(IRanges,sum)
importMethodsFrom(IRanges,unlist)
importMethodsFrom(IRanges,which)
importMethodsFrom(Rsamtools,names)
importMethodsFrom(ggbio,autoplot)
importMethodsFrom(ggbio,layout_karyogram)
useDynLib(derfinder2)
