export(analyzeChr)
export(annotateRegions)
export(calculatePvalues)
export(calculateStats)
export(clusterMakerRle)
export(collapseFullCoverage)
export(coverageToExon)
export(filterData)
export(findRegions)
export(fstats.apply)
export(fullCoverage)
export(getRegionCoverage)
export(getSegmentsRle)
export(loadCoverage)
export(makeBamList)
export(makeGenomicState)
export(makeModels)
export(mergeResults)
export(plotCluster)
export(plotOverview)
export(plotRegionCoverage)
export(preprocessCoverage)
export(sampleDepth)
import(Rcpp)
import(RcppArmadillo)
importFrom(GenomicFeatures,"isActiveSeq<-")
importFrom(GenomicFeatures,exonsBy)
importFrom(GenomicFeatures,fiveUTRsByTranscript)
importFrom(GenomicFeatures,intronsByTranscript)
importFrom(GenomicFeatures,isActiveSeq)
importFrom(GenomicFeatures,threeUTRsByTranscript)
importFrom(GenomicRanges,"seqlengths<-")
importFrom(GenomicRanges,"seqlevels<-")
importFrom(GenomicRanges,GRanges)
importFrom(GenomicRanges,GRangesList)
importFrom(GenomicRanges,seqinfo)
importFrom(GenomicRanges,seqlengths)
importFrom(GenomicRanges,seqlevels)
importFrom(GenomicRanges,seqnames)
importFrom(Hmisc,wtd.quantile)
importFrom(IRanges,"runValue<-")
importFrom(IRanges,"values<-")
importFrom(IRanges,CharacterList)
importFrom(IRanges,DataFrame)
importFrom(IRanges,IRanges)
importFrom(IRanges,IntegerList)
importFrom(IRanges,RangesList)
importFrom(IRanges,Rle)
importFrom(IRanges,RleList)
importFrom(IRanges,Views)
importFrom(IRanges,elementLengths)
importFrom(IRanges,end)
importFrom(IRanges,nrow)
importFrom(IRanges,queryHits)
importFrom(IRanges,ranges)
importFrom(IRanges,reduce)
importFrom(IRanges,resize)
importFrom(IRanges,runLength)
importFrom(IRanges,runValue)
importFrom(IRanges,slice)
importFrom(IRanges,start)
importFrom(IRanges,subjectHits)
importFrom(IRanges,values)
importFrom(IRanges,width)
importFrom(Rsamtools,BamFileList)
importFrom(Rsamtools,ScanBamParam)
importFrom(Rsamtools,path)
importFrom(Rsamtools,readGAlignmentsFromBam)
importFrom(Rsamtools,scanBamHeader)
importFrom(bumphunter,annotateNearest)
importFrom(ggbio,plotIdeogram)
importFrom(ggbio,theme_tracks_sunset)
importFrom(ggbio,tracks)
importFrom(ggplot2,aes)
importFrom(ggplot2,autoplot)
importFrom(ggplot2,element_blank)
importFrom(ggplot2,element_text)
importFrom(ggplot2,geom_line)
importFrom(ggplot2,geom_segment)
importFrom(ggplot2,geom_text)
importFrom(ggplot2,ggplot)
importFrom(ggplot2,guides)
importFrom(ggplot2,labs)
importFrom(ggplot2,rel)
importFrom(ggplot2,scale_colour_manual)
importFrom(ggplot2,scale_fill_manual)
importFrom(ggplot2,scale_y_continuous)
importFrom(ggplot2,theme)
importFrom(ggplot2,xlab)
importFrom(ggplot2,ylab)
importFrom(parallel,mclapply)
importFrom(plyr,ddply)
importFrom(plyr,summarise)
importFrom(qvalue,qvalue)
importFrom(reshape2,melt)
importFrom(scales,log2_trans)
importFrom(scales,log_trans)
importMethodsFrom(AnnotationDbi,select)
importMethodsFrom(GenomicFeatures,promoters)
importMethodsFrom(GenomicRanges,"$")
importMethodsFrom(GenomicRanges,"$<-")
importMethodsFrom(GenomicRanges,"%in%")
importMethodsFrom(GenomicRanges,"[")
importMethodsFrom(GenomicRanges,"[<-")
importMethodsFrom(GenomicRanges,"[[")
importMethodsFrom(GenomicRanges,"mcols<-")
importMethodsFrom(GenomicRanges,"names<-")
importMethodsFrom(GenomicRanges,"strand<-")
importMethodsFrom(GenomicRanges,"values<-")
importMethodsFrom(GenomicRanges,as.data.frame)
importMethodsFrom(GenomicRanges,c)
importMethodsFrom(GenomicRanges,countOverlaps)
importMethodsFrom(GenomicRanges,coverage)
importMethodsFrom(GenomicRanges,disjoin)
importMethodsFrom(GenomicRanges,end)
importMethodsFrom(GenomicRanges,findOverlaps)
importMethodsFrom(GenomicRanges,gaps)
importMethodsFrom(GenomicRanges,length)
importMethodsFrom(GenomicRanges,mcols)
importMethodsFrom(GenomicRanges,names)
importMethodsFrom(GenomicRanges,range)
importMethodsFrom(GenomicRanges,reduce)
importMethodsFrom(GenomicRanges,sort)
importMethodsFrom(GenomicRanges,split)
importMethodsFrom(GenomicRanges,start)
importMethodsFrom(GenomicRanges,strand)
importMethodsFrom(GenomicRanges,unlist)
importMethodsFrom(GenomicRanges,values)
importMethodsFrom(GenomicRanges,width)
importMethodsFrom(IRanges,"$")
importMethodsFrom(IRanges,"$<-")
importMethodsFrom(IRanges,"%in%")
importMethodsFrom(IRanges,"[")
importMethodsFrom(IRanges,"[<-")
importMethodsFrom(IRanges,"[[")
importMethodsFrom(IRanges,"[[<-")
importMethodsFrom(IRanges,"colnames<-")
importMethodsFrom(IRanges,"values<-")
importMethodsFrom(IRanges,Reduce)
importMethodsFrom(IRanges,as.character)
importMethodsFrom(IRanges,as.data.frame)
importMethodsFrom(IRanges,as.matrix)
importMethodsFrom(IRanges,as.numeric)
importMethodsFrom(IRanges,as.vector)
importMethodsFrom(IRanges,c)
importMethodsFrom(IRanges,cbind)
importMethodsFrom(IRanges,colnames)
importMethodsFrom(IRanges,findOverlaps)
importMethodsFrom(IRanges,lapply)
importMethodsFrom(IRanges,length)
importMethodsFrom(IRanges,mean)
importMethodsFrom(IRanges,median)
importMethodsFrom(IRanges,names)
importMethodsFrom(IRanges,ncol)
importMethodsFrom(IRanges,nrow)
importMethodsFrom(IRanges,order)
importMethodsFrom(IRanges,quantile)
importMethodsFrom(IRanges,queryHits)
importMethodsFrom(IRanges,rbind)
importMethodsFrom(IRanges,relist)
importMethodsFrom(IRanges,runValue)
importMethodsFrom(IRanges,sapply)
importMethodsFrom(IRanges,sort)
importMethodsFrom(IRanges,split)
importMethodsFrom(IRanges,subset)
importMethodsFrom(IRanges,sum)
importMethodsFrom(IRanges,unlist)
importMethodsFrom(IRanges,values)
importMethodsFrom(IRanges,which)
importMethodsFrom(Rsamtools,names)
importMethodsFrom(ggbio,autoplot)
importMethodsFrom(ggbio,layout_karyogram)
useDynLib(derfinder)
